<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="lean">
	<title>🍬 Candy-Vault 🍬</title>
	<link rel="shortcut icon" href="/static/images/candy.png" type="image/png">
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<img src="/static/images/web.svg" id="web" alt="spider web. you feel spooky just looking at it." />
	<section id="wrapper">
		<div class="spacer"></div>

		<div class="ghosts-home"><img src="/static/images/ghost.svg" id="ghost" class="bounce animated"
				alt="A cute, unassuming ghost who is speaking to you" /></div>

		<div id="narration-and-select">
			<form id="narration" action="/login" method="post">
				<h4>Log-in to open the doors to candy vault!</h4>
				<input id="narrationInput" placeholder="Email" type="text" name="email">
				<input id="narrationInput" placeholder="Password" type="password" name="password">
				<button id="narrationButton" type="submit"><strong aria-label="super cool"><span>U</span><span>N</span><span>L</span><span>O</span><span>C</span><span>K </span><span>C</span><span>A</span><span>N</span><span>D</span><span>Y</span><span>V</span><span>A</span><span>U</span><span>L</span><span>T</span></strong></button>
			</form>
		</div>
	</section>
</body>

</html>