<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <title>IMF - Register</title>
  <link rel='stylesheet' href='/static/css/main.css'>
  <link rel='icon' href='//icons-for-free.com/iconfiles/png/512/spy-131964785010048699.png' type='image/png'>
  <link link='preload' href='//unpkg.com/nes.css@2.3.0/css/nes.min.css' rel='stylesheet' />
  <link rel='preconnect' href='//fonts.gstatic.com'>
  <link link='preload' href='//fonts.googleapis.com/css2?family=Press+Start+2P&display=swap' rel='stylesheet'>
</head>
<body>
  <article>
    <section class='nes-container with-title'>
        <h3 class='title'>Register</h3>
        <form method='POST'>
            <div class='nes-field'>
                <label>Username</label>
                <input type='text' class='nes-input' name='username'>
            </div>
            <div class='nes-field'>
                <label>Password</label>
                <input type='password' class='nes-input' name='password'>
            </div>
            <br>
            <div class='nes-field'>
                <button type='submit' style='width:calc(100% - 8px)' class='nes-btn is-success'>Register</button>
            </div>
        </form>
      </section>
  </article>
</body>
</html>