html, body {
    height: 100%;

 
}

p {
    text-align: center;
    margin: 0 auto;
}

.login-form {
    display: flex;
    min-width: 400px;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    flex-direction: column;
}
input {
    margin-bottom: 1.5rem;
}


/* query-msg */

#resp-msg {
    display: none;
    margin-top: 2rem;
}
.alert {
    position: relative;
    padding: .50rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.main-container {
   background-color: #0a4757;
   max-width: 600px;
}

#auth-p1 {
    font-size: 16pt;
    font-weight: lighter;
}

img {
    margin: auto;
    display: block;
    width: 200px;
}

#signup-group, #register-btn {
    display: none;
}

.nav-logo {
    width: 45px;
    float: left;
    margin: 0;
    display: inline;
}

.navbar-brand > span {
    display: inline-block;
    padding-top: 8px;
    padding-left: 7px;
}

.temp-img {
    height: 200px;
}

.card-link {
    text-decoration: none;
}

#globalToast {
   position: fixed;
   top: 60px;
   right: 10px;
   background: #0b6175;
}

.archiveContainer {
    display: none;
}

.sb2 {
    height: 45px;
    width: auto !important;
    display: inline !important;
    padding-right: 10px;
}

.nav-li {
        white-space: nowrap;
        margin-right: 30px;
}


#resp-msg , #addForm, .hidden {
    display: none;
  }
  
  #main-logo {
    display: block;
    width: 90px;
  }
  #slogan {
    margin-left: 0px;
    font-size: 28px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #4073c8;
    text-shadow: 1px 1px #932837;
    text-transform: uppercase;
    
  }


.health {
    display: inline-block;
    background: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.hgreen {
    background: lime;
}

.hred {
    background: red;
}

td:nth-child(2) {
    max-width: 400px;
	word-break: break-all;
}